{% extends 'base.html' %} 
{% block title %}About{% endblock title %} 

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container-fluid">
    <div class=" jumbotron">
        <h1 class="display-4">About Us!</h1>
        <p class="lead">Ice cream is a frozen dessert made from cream, with added flavors and sweeteners. This mixture is quickly frozen while it is stirred, so that large ice crystals do not form. Some ice cream is made with carrageenan, a gum found in seaweed so that
            it is not sticky. Nowadays, ice cream comes with different flavors, colours and texturesn.</p>
        <hr class="my-4">
        <p>People sell ice cream through many ways. You can buy ice cream in ice cream containers from supermarkets. You can also buy ice cream on a cone from an ice cream truck..</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div> 
{% endblock body %}