<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    welcome {{request.user}}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit officiis dolore iure similique, harum accusamus iste exercitationem eum iusto obcaecati officia nulla deserunt error quibusdam, cupiditate assumenda est molestias unde veritatis ipsa
        numquam culpa vitae ex? Eius, assumenda tenetur voluptate praesentium corrupti commodi.

    </p>
    <a href="/login">Logout</a>
</body>

</html>